{#{% load static %}#}
{##}
{##}
{#<!-- Navbar -->#}
{#<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">#}
{#<div class="container-fluid">#}
{#    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">#}
{#      <span class="navbar-toggler-icon"></span>#}
{#    </button>#}
{#    <div class="collapse navbar-collapse" id="navbarNav">#}
{#      <ul class="navbar-nav">#}
{##}
{#        <li class="nav-item">#}
{#            {% if '/' == request.path %}#}
{#                  <a class="nav-link active" aria-current="page" href="{% url 'index' %}"><b>Home</b></a>#}
{#                {% else %}#}
{#                  <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>#}
{#                {% endif %}#}
{#        </li>#}
{#      some space#}
{#      &nbsp;&nbsp;#}
{#        <li class="nav-item">#}
{#            {% if 'listings' in request.path and not 'search' in request.path and request.path|length <= 10 %}#}
{#                <a class="nav-link active" href="{% url 'listings' %}"><b>Listings</b></a>#}
{#            {% else %}#}
{#                <a class="nav-link" href="{% url 'listings' %}">Listings</a>#}
{#            {% endif %}#}
{#        </li>#}
      {#      some space#}
{#      &nbsp;&nbsp;#}
{#        <li class="nav-item">#}
{#            {% if 'search' in request.path %}#}
{#                <a class="nav-link active" href="{% url 'search' %}"><b>Search Listings</b></a>#}
{#            {% else %}#}
{#                <a class="nav-link" href="{% url 'search' %}">Search Listings</a>#}
{#            {% endif %}#}
{#        </li>#}
      {#      some space#}
{#      &nbsp;&nbsp;#}
{#        <li class="nav-item">#}
{#            {% if 'about' in request.path %}#}
{#                <a class="nav-link active"  href="{% url 'about' %}"><b>About</b></a>#}
{#            {% else %}#}
{#                <a class="nav-link"  href="{% url 'about' %}">About</a>#}
{#            {% endif %}#}
{#        </li>#}
{##}
{#      some space#}
{#      &nbsp;&nbsp;#}
{#        <li class="nav-item">#}
{#            {% if 'table-test' in request.path %}#}
{#                <a class="nav-link active"  href="{% url 'table-test' %}"><b>Table Test</b></a>#}
{#            {% else %}#}
{#                <a class="nav-link"  href="{% url 'table-test' %}">Table Test</a>#}
{#            {% endif %}#}
{#        </li>#}
{##}
{#              <li class="nav-item">#}
{#                    {% if 'import-data' in request.path %}#}
{#                        <a class="nav-link active"  href="{% url 'import-data' %}"><b>Import Data</b></a>#}
{#                    {% else %}#}
{#                        <a class="nav-link"  href="{% url 'import-data' %}">Import Data</a>#}
{#                    {% endif %}#}
{#                </li>#}
{#      </ul>#}
{##}
{##}
{#        <ul class="navbar-nav">#}
{#        {% if user.is_authenticated %}#}
{##}
             {#      some space#}
{#      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
{#      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
{#      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
{#      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
{#      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
{#            <li class="nav-item">#}
{#                {% if 'dashboard' in request.path %}#}
{#                    <a class="nav-link active"  href="{% url 'dashboard' %}"><b>{{ user.username }} (Dashboard)</b></a>#}
{#                {% else %}#}
{#                    <a class="nav-link"  href="{% url 'dashboard' %}">{{ user.username }} (Dashboard)</a>#}
{#                {% endif %}#}
{#              </li>#}
{#              <li class="nav-item mr-3">#}
{#                <a href="javascript:{document.getElementById('logout').submit()}"#}
{#                   class="nav-link">#}
{#                   <i class="fas fa-sign-out-alt"></i>Logout#}
{#                </a>#}
{#                  <form action="{% url 'logout' %}"  method="POST" id="logout">#}
{#                      {% csrf_token %}#}
{#                      <input type="hidden">#}
{#                  </form>#}
{#              </li>#}
{#        {% else %}#}
{#            <li class="nav-item">#}
{#                {% if 'register' in request.path %}#}
{#                    <a class="nav-link active"  href="{% url 'register' %}"><i class="fas fa-user-plus"></i><b>Register</b></a>#}
{#                {% else %}#}
{#                    <a class="nav-link"  href="{% url 'register' %}"><i class="fas fa-user-plus"></i>Register</a>#}
{#                {% endif %}#}
{#              </li>#}
{##}
{#              <li class="nav-item">#}
{#                {% if 'login' in request.path %}#}
{#                    <a class="nav-link active" href="{% url 'login' %}">#}
{#                        <i class="fas fa-sign-in-alt"></i><b>Login</b></a>#}
{#                {% else %}#}
{#                    <a class="nav-link" href="{% url 'login' %}">#}
{#                    <i class="fas fa-sign-in-alt"></i>Login</a>#}
{#                {% endif %}#}
{#              </li>#}
{#        {% endif %}#}
{#        </ul>#}
{##}
{##}
{##}
{##}
{#    </div>#}
{#  </div>#}
{#</nav>#}